.navbar-nav{
    text-align: center;
}
.carousel-caption h5{
    font-size: 17px;
}
.carousel-caption p{
    width: 100%;
    line-height: 1.6;
    font-size: 12px;
}
.card{
    margin-bottom: 30px;
}
.about-text{
    padding-top: 50px
}